@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --main-color:#ec3a02;
    --white:#484a4b;
    --text-color:#070709;
    --bg-color:#fff;
    --second-bg-color:#c0c0c0;
    --light-color:#fff;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all .2s linear;
    text-decoration: none;
}
::-webkit-scrollbar{
    width: 1rem;
    height: 10rem;
}
::-webkit-scrollbar-track{
    color: transparent;
}
::-webkit-scrollbar-thumb{
    color: var(--main-color);
}
html{
    font-size: 63.5%;
}
body{
    background-color: var(--bg-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5%;
    margin-bottom: 2rem;
}
.logo{
    font-size: 2rem;
    color: var(--text-color);
    text-transform: capitalize;
    font-weight: 600;
}
.logo span{
    color: var(--main-color);
    text-transform: capitalize;
}
.header .navbar a{
    font-size: 1.5rem;
    color: var(--text-color);
    text-transform: capitalize;
    font-weight: 500;
    margin: 0 1rem;
}
.header .navbar a#Home{
    color: var(--main-color);
    text-decoration: underline;
}
.header .navbar a:hover{
    color: var(--main-color);
    text-decoration: underline;
}
section{
    padding:5rem 5%;
}
.home{
    min-height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
.home .content{
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;
}
.home .content h1{
    font-size: 4rem;
    color: var(--text-color);
    text-transform: capitalize;
}
.home .content h1 span{
    color: var(--main-color);
}
.home .content h3{
    font-size: 2rem;
    color: var(--text-color);
    text-transform: capitalize;
}
.home .content p{
    color: var(--text-color);
    font-size: 1.2rem;
    text-transform: lowercase;
    line-height: 1.5;
    width: 50rem;
    margin-bottom: 1rem;
    text-align: left;
}
.home .content .flex-btn{
    display: inline-block;

}
.home .content .flex-btn .btn{
    color: var(--main-color);
    background-color: var(--bg-color);
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    border: .2rem solid var(--main-color);
    border-radius: 3rem;
}
.home .content .flex-btn .btn.hire{
    background-color: var(--main-color);
    color: var(--text-color);
    border: none;
}
.home .content .flex-btn .btn:hover{
    background-color: var(--main-color);
    color: var(--text-color);
    border: none;
    box-shadow: .1rem .5rem 1rem var(--main-color);
}
.home .content .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}
.home .content .icons i{
    color: var(--main-color);
    font-size: 2rem;
    border: .2rem solid var(--main-color);
    padding: 1rem;
    border-radius: 50%;
}
.home .content .icons i:hover{
    cursor: pointer;
    background-color: var(--main-color);
    color: var(--text-color);
    box-shadow: .1rem .5rem 1rem var(--main-color);
}
.home img {
    border-radius: 50%;
    height: 45rem; /* Ukuran gambar yang sesuai */
    width: 45rem; /* Ukuran gambar yang sesuai */
    object-fit: cover; /* Memastikan gambar menutupi area box tanpa distorsi */
    box-shadow: 0 0 2.5rem var(--main-color); /* Memberikan efek bayangan */
    display: block; /* Menghilangkan jarak tambahan di sekitar gambar */
    margin: 0 auto; /* Menjaga gambar tetap berada di tengah jika diperlukan */
}

.home img:hover {
    box-shadow: 0 0 2.5rem var(--main-color),
                0 0 5rem var(--main-color),
                0 0 10rem var(--main-color); /* Efek bayangan saat hover */
}
.text-animation{
    font-size: 2rem;
    color: var(--text-color);
    text-transform: capitalize;
    min-width: 28rem;
    font-weight: 600;
}
.text-animation span{
    position: relative;
}
.text-animation span::before{
    content: "junior network engineer";
    color: var(--main-color);
    animation: words 20s infinite;
}
.text-animation span::after{
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite,
                typing 20s steps(14) infinite;
}
@keyframes cursor{
    to{
        border-left: 2px solid var(--main-color);
    }
}
@keyframes words{
    0%, 
    20%{
        content:"junior network engineer";
    }
    21%,
    40%{
        content:"junior network engineer";
    }
    41%,
    60%{
        content: "junior network engineer";
    }
    61%, 
    80%{
        content:"junior network engineer";
    }
    81%,
    100%{
        content:"junior network engineer";
    }
}
@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 8px);
    }
}
.menu i{
    color: var(--white);
    font-size: 2rem;
    display: none;
}
.menu i:hover{
    color: var(--main-color);
    text-shadow: .1rem .5rem 1rem var(--main-color);
}

.work-experience {
    padding-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    min-height: 100vh;
    background-color: var(--second-bg-color);
}

.work-experience .heading {
    font-size: 5rem;
    color: var(--text-color);
    margin-bottom: 7rem;
}

.work-experience .timeline-items {
    max-width: 75rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.work-experience .timeline-items::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--main-color);
    left: calc(50% - 1px);
}

.work-experience .timeline-items .timeline-item {
    margin-bottom: 4rem;
    width: 100%;
    position: relative;
}

.work-experience .timeline-items .timeline-item:last-child {
    margin-bottom: 0;
}

.work-experience .timeline-items .timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
}

.work-experience .timeline-items .timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
    text-align: right;
}

.work-experience .timeline-items .timeline-item .timeline-dot {
    position: absolute;
    left: calc(50% - 8px);
    top: 10px;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: var(--main-color);
}

.work-experience .timeline-items .timeline-item .timeline-date {
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 600;
}

.work-experience .timeline-items .timeline-item .timeline-content {
    padding: 1rem;
    width: 35rem;
    border: .2rem solid var(--main-color);
    border-radius: 3rem;
    transition: .5s ease-in-out;
    position: relative;
}

.work-experience .timeline-items .timeline-item .timeline-content:hover {
    cursor: pointer;
    scale: 1.1;
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
}

.work-experience .timeline-items .timeline-item .timeline-content h3 {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.work-experience .timeline-items .timeline-item .timeline-content p {
    font-size: 1.1rem;
    color: var(--text-color);
    line-height: 2;
    text-transform: lowercase;
}

.work-experience .timeline-items .timeline-item .timeline-image {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.services{
    min-height: 100vh;
    background-color: var(--bg-color);
    padding: 5rem 5%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.services .heading{
    color: var(--text-color);
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
}
.services .box-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}
.services .box-container .box{
    background-color: var(--main-color);
    width: 40rem;
    padding: 2rem;
    border-radius: 3rem;
    border: .2rem solid var(--main-color);
    transition: .5s ease-in-out;
}
.services .box-container .box:hover{
    background-color: var(--white);
    box-shadow: .1rem .5rem 1rem var(--main-color);
    scale: 1.1;
}
.services .box-container .box h3{
    font-size: 1.7rem;
    color: var(--text-color);
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.services .box-container .box p{
    font-size: 1.2rem;
    color: var(--text-color);
    text-transform: lowercase;
    margin-bottom: 1rem;
    line-height: 2;
}
.services .box-container .box:hover p,
.services .box-container .box:hover h3
{
    color: var(--bg-color);
}
.testimonials {
    min-height: 100vh;
    background-color: var(--second-bg-color);
    padding: 5rem 5%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.testimonials .heading {
    color: var(--text-color);
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
}

.testimonials .box-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    margin: 2rem 0;
}

.testimonials .box-container .box {
    width: 30rem;
    height: 30rem;
    border-radius: 1rem; /* Rounded corners for the box */
    overflow: hidden;    /* Hide overflow so the image fits the box */
    box-shadow: 0 0 10px var(--main-color);
    border: .1rem solid var(--main-color);
    display: flex;       /* Flex container for centering image */
    align-items: center; /* Center image vertically */
    justify-content: center; /* Center image horizontally */
}

.testimonials .box-container .box img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures image covers the box */
    display: block;   /* Removes any extra spacing around image */
}

.testimonials .box-container .box:hover {
    box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color);
    transform: translateY(-2rem);
    cursor: pointer;
}

/* Mengatur padding dan background color untuk section contact */
.contact {
    padding: 5rem 5%;
    background-color: var(--bg-color);
}

/* Mengatur style untuk heading */
.contact .heading {
    color: var(--text-color);
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
}

/* Mengatur color untuk span dalam heading */
.contact .heading span {
    color: var(--main-color);
}

/* Mengatur style untuk container gambar */
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

/* Mengatur style untuk baris gambar */
.row {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    flex-wrap: wrap; /* Membungkus gambar dalam baris */
}

/* Mengatur style untuk gambar sertifikat */
.certificate-img {
    width: 100%; /* Lebar gambar sesuai lebar kontainer */
    max-width: 250px; /* Maksimum lebar gambar */
    height: auto; /* Mempertahankan rasio aspek gambar */
    max-height: 300px; /* Tinggi maksimum gambar */
    border: 1px solid var(--main-color);
    border-radius: 1rem;
    box-shadow: 0 0 10px var(--main-color);
    object-fit: cover; /* Memastikan gambar menutupi area tanpa distorsi */
}

/* Mengatur ukuran khusus untuk gambar A4 lanskap */
.a4-landscape {
    width: 100%; /* Lebar gambar sesuai lebar kontainer */
    max-width: 1200px; /* Lebar maksimum untuk ukuran A4 lanskap */
    height: auto; /* Mempertahankan rasio aspek gambar */
    max-height: 850px; /* Tinggi maksimum untuk ukuran A4 lanskap */
}

/* Media query untuk perangkat kecil */
@media (max-width: 768px) {
    .certificate-img {
        max-width: 200px; /* Lebar maksimum gambar pada perangkat kecil */
        max-height: 200px; /* Tinggi maksimum gambar pada perangkat kecil */
    }
    
    .a4-landscape {
        max-width: 100%; /* Lebar maksimum gambar pada perangkat kecil */
        max-height: 400px; /* Tinggi maksimum gambar pada perangkat kecil */
    }
}

/* Media query untuk perangkat besar */
@media (min-width: 769px) {
    .certificate-img {
        max-width: 250px; /* Lebar maksimum gambar pada perangkat besar */
        max-height: 300px; /* Tinggi maksimum gambar pada perangkat besar */
    }
    
    .a4-landscape {
        max-width: 1200px; /* Lebar maksimum gambar pada perangkat besar */
        max-height: 850px; /* Tinggi maksimum gambar pada perangkat besar */
    }
}

.footer{
    background-color: var(--second-bg-color);
    padding: 5rem 5%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.footer .icons i{
    font-size: 2rem;
    color: var(--text-color);
    margin: 0 1rem;
}
.footer .icons i:hover{
    color: var(--main-color);
}
.footer .navbar{
    margin:2rem 0;
}
.footer .navbar a{
    font-size: 1.5rem;
    color: var(--text-color);
    text-transform: capitalize;
    font-weight: 500;
    margin:2rem 1rem;

}

.footer .navbar a:hover{
    color: var(--main-color);
    text-decoration: underline;
}
.footer .credit p{
    font-size: 1.3rem;
    color: var(--light-color);
    text-transform: capitalize;
}
.footer .credit p i,
.footer .credit p span{
    color: var(--main-color);
}



























@media(max-width:990px){
    html{
        font-size: 55.5%;
    }
    .home{
        flex-flow: column-reverse;
        padding: 8rem 0;
        padding-top: 15rem;
    }
}


@media(max-width:700px){
    html{
        font-size: 50.5%;
    }
    .home img{
        height: 35rem;
        width: 35rem;
    }
    .home{
        padding: 8rem 0;
    }
    section{
        padding: 1rem;
    }
    .header{
        position: relative;
        padding: 0;
    }
    .header .logo,
    .header .menu{
        padding: 1rem;
    }
    .menu i{
        display: flex;
    }
    .header .navbar.active{
        display: grid;
    }
    .header .navbar{
        position: absolute;
        top: 7rem;
        display: none;
        text-align: center;
        justify-content: center;
        background-color: var(--main-color);
        width: 100%;
        gap: 2rem;
        padding: 1rem;
    }
    .header .navbar a#Home{
        color: var(--text-color);
        text-decoration: none;
    }
    .header .navbar a{
        width: 100%;
        padding: 1rem;
    }
    .header .navbar a:hover,
    .header .navbar a#Home:hover
    {
        background-color: var(--white);
        color: var(--main-color);
        text-decoration: none;

        
    }
}
@media(max-width:450px){
    
    .home .content p{
        width: 35rem;
    }
    .education .timeline-items{
        display: grid;

    }
    .contact .form-container form{
        display: grid;
       
    }
    .contact .form-container form .inputs,
    .contact .form-container form .text{
    width: 100%;
}
.contact .form-container form .inputs .input,
.contact .form-container form .text textarea{
   
    width: 100%;
}
.contact{
    padding: 1rem 0;
}


}


